.about {
  .story,
  .contact {
  	padding: 40px 0;
  }
  .contact {
    border-top: 1px #cccccc solid;
  }
}

@media screen and (max-width: 767px) {
  .about {
    .story,
    .contact {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }

  .contact {
    text-align: center;
    a {
      float: none;
      margin: 0 auto;
    }
  }
}
