.navbar {
  margin: 0;
  padding: 12px 0;
  background-color: #ffffff;
  border: none;
  .navbar-nav {
    margin-top: 5px;
  }
  .navbar-nav li {
    margin: 0 5px;
    a {
      padding: 8px 12px;
      position: relative;
      background-color: #ffffff;
      text-transform: uppercase;
      font-weight: 600;
      &:before, &:after {
        content: '';
        width: 0;
        position: absolute;
      }
      &:before {
        bottom: 0;
        right: 0;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid #ffffff;
      }
      &:after {
        top: 0;
        left: 0;
        border-top: 6px solid #ffffff;
        border-right: 6px solid #ffffff;
      }
      &:hover, &.active {
        background-color: $brand-primary;
        color: #ffffff;
        &:before {
          border-left-color: $brand-primary;
        }
        &:after {
          border-right-color: $brand-primary;
        }
      }
    }
  }
}

.navbar-header {
  .navbar-toggle,
  .navbar-toggle:hover {
    // display: block;
    margin-top: 0;
    padding: 8px 15px;
    background-color: $brand-primary;
    border-color: darken($brand-primary, 5%);
    font-size: 17px;
    color: #ffffff;
  }
}

.navbar-brand {
  width: 165px;
  height: 46px;
  display: block;
  text-indent: -9999px;
  text-decoration: none;
  background: url('../images/express-logo.png') center center no-repeat;
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    margin-left: 15px;
  }
}
