.contact {
  .heading {
    background-position: bottom right;
  }
  form {
    .form-control {
      box-shadow: none;
    }
  }
  address {
    margin-top: 30px;
  }
  // Map styles
  #egsmap {
    height:300px;
    width:100%;
  }
  .gm-style-iw {
    width: 240px !important;
  }
  .gm-style-iw * {
    display: block;
    width: 100%;
  }
  .gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
  }
  .gm-style-iw a {
    color: #4272db;
  }
}
