.footer-top,
.footer-bottom {
  font-size: 13px;
  color: #ffffff;
}

.footer-top {
  background-color: darken($brand-primary, 8%);
  .meta {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer-bottom {
  background-color: darken($brand-primary, 16%);
  .info {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.meta {
  h5 {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
  }

  .social,
  .qlinks {
    ul {
      list-style: none;
    }
  }

  li > a {
    margin: 2px 0;
    display: inline-block;
    color: #ffffff;
  }

  .social {
    li {
      margin-right: 12px;
      display: inline-block;
      background-color: darken($brand-primary, 20%);
      > a {
        margin: 0;
        padding: 2px 12px;
        display: block;
        text-decoration: none;
        font-size: 24px;
      }
      &:hover {
        background-color: #ffffff;
        > a {
          color: darken($brand-primary, 20%);
        }
      }
    }
  }
}

.info {
  p {
    margin-bottom: 0;
    line-height: 24px;
    &.design {
      text-align: right;
    }
    &.copyright {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 767px) {
  .meta {
    h5 {
      float: left;
    }
    ul {
      float: right;
    }
  }
  .info {
    p {
      &.design,
      &.copyright {
        text-align: center;
        font-size: 13px;
      }
    }
  }
}
