// Group carousel and clients
.carousel {
	overflow: hidden;
	.slick-slider {
		margin-bottom: 0;
	}
	.slick-slide {
		height: 460px;
		background-repeat: no-repeat;
		background-position: top left;
		background-size: cover;
		.container {
			padding: 80px 0 20px;
		}
		&.slide-one {
			background-image: url('../../assets/images/slide-one.png');
		}
		&.slide-two {
			background-image: url('../../assets/images/slide-two.png');
		}
	}
	.slick-dots {
		padding: 20px 0;
		bottom: 0;
		li {
			button {
				background: $brand-primary;
				&:before {
					content: '';
				}
			}
			&.slick-active {
				button {
					background: transparent;
					border: 2px #ffffff solid;
				}
			}
		}
	}
}

.slick-slide {
	h2 {
		margin-bottom: 20px;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		font-weight: 600;
		font-size: 42px;
		color: #ffffff;
	}
	p {
		margin-bottom: 40px;
		font-weight: 300;
		font-size: 24px;
		color: #ffffff;
	}
}

.marketing,
.clients {
	text-align: center;
}

.marketing {
	padding: 40px 0 60px;
	.service {
		> a {
			margin: 0;
			padding: 30px;
			display: block;
			background-color: #eeeeee;
			position: relative;
			text-decoration: none;
			color: #333333;
			z-index: 99;
			&:before {
				width: 100%;
				height: 82px;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background: url('../../assets/images/standard-hero-blue.png') center center no-repeat;
				z-index: 98;
			}
		}
	}
}

.service {
	> a {
		span {
			padding: 40px;
			position: relative;
			border-radius: 50%;
			background-color: #70c1b3;
			border: 6px #ffffff solid;
			box-shadow: 0 1px 4px #aaaaaa;
			font-size: 28px;
			color: #ffffff;
			z-index: 100 !important;
		}
		h3 {
			padding-bottom: 18px;
			text-transform: uppercase;
			font-family: 'Raleway', sans-serif;
			font-weight: 900;
			font-size: 17px;
		}
		p {
			height: 72px;
			margin-bottom: 30px;
			text-shadow: 0 0 1px #ffffff;
		}
		button{
			padding: 10px 30px;
			text-transform: uppercase;
		}
	}
}

.clients {
	padding: 40px 0 100px;
	background-color: #eeeeee;
	overflow: hidden;
	.slick-slider {
		margin-bottom: 0;
	}
	.slick-slide {
		height: 120px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 120px 120px;
		&.apple {
			background-size: 100px 100px;
			background-image: url('../../assets/images/apple.png');
		}
		&.gap {
			background-image: url('../../assets/images/gap.png');
		}
		&.ibm {
			background-image: url('../../assets/images/ibm.png');
		}
		&.palantir {
			background-size: 100px 100px;
			background-image: url('../../assets/images/palantir.png');
		}
		&.walmart {
			background-image: url('../../assets/images/walmart.png');
		}
		&.visa {
			background-image: url('../../assets/images/visa.png');
		}
		&.wellsfargo {
			background-size: 100px 100px;
			background-image: url('../../assets/images/wellsfargo.png');
		}
		&.macys {
			background-image: url('../../assets/images/macys.png');
		}
	}
	.slick-dots {
		bottom: -60px;
		li {
			button {
				background: $brand-primary;
				&:before {
					content: '';
				}
			}
			&.slick-active {
				button {
					background: transparent;
					border: 2px #bfbfbf solid;
				}
			}
		}
	}
}

@media only screen and (max-width: 48em) {
	.carousel {
		.slick-slide {
			height: 240px;
			.container {
				padding: 20px;
			}
		}
	}
	.slick-slide {
		h2, p {
			text-align: center;
		}
		h2 {
			font-size: 24px;
		}
		p {
			font-size: 18px;
		}
	}
	.marketing {
		.service {
			> a {
				margin-bottom: 20px;
				background: url('../../assets/images/standard-hero-blue.png') center center no-repeat;
				&:before {
					display: none;
				}
			}
		}
	}
	.service {
		> a {
			overflow: hidden;
			> span {
				float: left;
				padding: 5px;
				background-color: transparent;
				border-color: transparent;
				font-size: 17px;
			}
			> h3 {
				display: none;
			}
			> p {
				float: left;
				display: inline;
				margin-top: 40px;
				text-align: center;
				text-shadow: none;
				font-weight: 300;
				color: #ffffff;
			}
		}
	}
}
