// Body defaults
$default-body: #232323;

// Brand Colors
$brand-primary: #179cd8;
$brand-primary-border: #086788;


// Navbar
$navbar-default-link-color: #333333;
$navbar-default-link-hover-color: #ffffff;


// Components
$border-radius-base: 0;
$border-radius-large: 0;


// Form States and Alerts
$state-danger-bg: #e74c3c;
$state-danger-text: #ffffff;
